interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/jiec-rg/providers/Microsoft.AppPlatform/Spring/jiec-e-eastasia?api-version=2023-11-01-preview
  response:
    body:
      string: '{"properties":{"provisioningState":"Succeeded","zoneRedundant":false,"version":3,"serviceId":"2d794c01d43b476b8c175f58b292dcfb","networkProfile":{"outboundIPs":{"publicIPs":["20.187.165.112","20.187.167.101"]},"outboundType":"loadBalancer"},"powerState":"Running","fqdn":"jiec-e-eastasia.asc-test.net","marketplaceResource":{"plan":"asa-ent-hr-mtr","publisher":"vmware-inc","product":"azure-spring-cloud-vmware-tanzu-2"}},"type":"Microsoft.AppPlatform/Spring","sku":{"name":"E0","tier":"Enterprise"},"location":"eastasia","tags":{},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/jiec-rg/providers/Microsoft.AppPlatform/Spring/jiec-e-eastasia","name":"jiec-e-eastasia","systemData":{"createdBy":"jiec@microsoft.com","createdByType":"User","createdAt":"2023-10-15T05:24:01.3574874Z","lastModifiedBy":"jiec@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-10-15T05:24:01.3574874Z"}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
      x-rp-server-mvid:
      - e3c96ca4-dc3f-4110-966d-484af991bfbd
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/jiec-rg/providers/Microsoft.AppPlatform/Spring/jiec-e-eastasia/configurationServices/default?api-version=2023-11-01-preview
  response:
    body:
      string: '{"properties":{"provisioningState":"Succeeded","settings":{"gitProperty":{"repositories":[{"name":"acme-fitness-store-config","patterns":["catalog/default","catalog/key-vault","identity/default","identity/key-vault","payment/default"],"label":"main","gitImplementation":"go-git","uri":"https://github.com/Azure-Samples/acme-fitness-store-config","searchPaths":[]},{"name":"t1","patterns":["test-acs-ado-https"],"label":"master","gitImplementation":"go-git","uri":"https://msazure.visualstudio.com/DefaultCollection/AzureDMSS/_git/ASC-E2E-Test-Private-Config","searchPaths":[],"username":"*","password":"*"}]}},"resourceRequests":{"cpu":"500m","memory":"1Gi","instanceCount":2},"instances":[{"name":"application-configuration-service-6fb669cfc5-k7cbd","status":"Running"},{"name":"application-configuration-service-6fb669cfc5-z6tq9","status":"Running"},{"name":"fluxcd-source-controller-675dbdd58b-8sk75","status":"Running"}],"generation":"Gen2"},"type":"Microsoft.AppPlatform/Spring/configurationServices","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/jiec-rg/providers/Microsoft.AppPlatform/Spring/jiec-e-eastasia/configurationServices/default","name":"default","systemData":{"createdBy":"jiec@microsoft.com","createdByType":"User","createdAt":"2023-10-15T05:27:16.5113438Z","lastModifiedBy":"jiec@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-10-24T08:35:02.4403683Z"}}'
    headers:
      content-type:
      - application/json
      x-rp-server-mvid:
      - e3c96ca4-dc3f-4110-966d-484af991bfbd
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://jiec-e-eastasia.asc-test.net/api/logstream/managedComponents/fluxSourceController/instances/fluxcd-source-controller-675dbdd58b-8sk75?tailLines=50&limitBytes=2097152
  response:
    body:
      string: '{"level":"info","ts":"2023-11-23T12:40:17.559Z","msg":"no changes since
        last reconcilation: observed revision ''main/d145f5aa2a5e856d0402a08d1725cec602bb89b0''","controller":"gitrepository","controllerGroup":"source.toolkit.fluxcd.io","controllerKind":"GitRepository","GitRepository":{"name":"git-repository-h4lf4","namespace":"acs-workspace"},"namespace":"acs-workspace","name":"git-repository-h4lf4","reconcileID":"34c0878b-bef0-4d34-89d6-f9f8a1cfde1c"}

        {"level":"info","ts":"2023-11-23T12:40:18.090Z","msg":"no changes since last
        reconcilation: observed revision ''main/d145f5aa2a5e856d0402a08d1725cec602bb89b0''","controller":"gitrepository","controllerGroup":"source.toolkit.fluxcd.io","controllerKind":"GitRepository","GitRepository":{"name":"git-repository-5lf6g","namespace":"acs-workspace"},"namespace":"acs-workspace","name":"git-repository-5lf6g","reconcileID":"f9a4d7b9-44cc-43e6-a059-0361d874160d"}

        {"level":"info","ts":"2023-11-23T12:40:39.720Z","msg":"no changes since last
        reconcilation: observed revision ''master[...]
