interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/jiec-rg/providers/Microsoft.AppPlatform/Spring/jiec-e-eastasia?api-version=2023-11-01-preview
  response:
    body:
      string: '{"properties":{"provisioningState":"Succeeded","zoneRedundant":false,"version":3,"serviceId":"2d794c01d43b476b8c175f58b292dcfb","networkProfile":{"outboundIPs":{"publicIPs":["20.187.165.112","20.187.167.101"]},"outboundType":"loadBalancer"},"powerState":"Running","fqdn":"jiec-e-eastasia.asc-test.net","marketplaceResource":{"plan":"asa-ent-hr-mtr","publisher":"vmware-inc","product":"azure-spring-cloud-vmware-tanzu-2"}},"type":"Microsoft.AppPlatform/Spring","sku":{"name":"E0","tier":"Enterprise"},"location":"eastasia","tags":{},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/jiec-rg/providers/Microsoft.AppPlatform/Spring/jiec-e-eastasia","name":"jiec-e-eastasia","systemData":{"createdBy":"jiec@microsoft.com","createdByType":"User","createdAt":"2023-10-15T05:24:01.3574874Z","lastModifiedBy":"jiec@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-10-15T05:24:01.3574874Z"}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
      x-rp-server-mvid:
      - e3c96ca4-dc3f-4110-966d-484af991bfbd
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/jiec-rg/providers/Microsoft.AppPlatform/Spring/jiec-e-eastasia/gateways/default?api-version=2023-11-01-preview
  response:
    body:
      string: '{"properties":{"public":true,"url":"jiec-e-eastasia-gateway-708cf.svc.asc-test.net","provisioningState":"Succeeded","httpsOnly":false,"apiMetadataProperties":{"title":"","description":"","documentation":"","version":"","serverUrl":""},"corsProperties":{"allowedOrigins":[],"allowedOriginPatterns":[],"allowedMethods":[],"allowedHeaders":[],"allowCredentials":false,"exposedHeaders":[]},"resourceRequests":{"cpu":"1","memory":"2Gi"},"instances":[{"name":"asc-scg-default-0","status":"Running"}],"operatorProperties":{"resourceRequests":{"cpu":"1","memory":"2Gi","instanceCount":1},"instances":[{"name":"scg-operator-6d8895c44b-wcngh","status":"Running"}]},"environmentVariables":{"properties":{},"secrets":null},"clientAuth":{"certificateVerification":"Disabled"},"responseCacheProperties":{"size":"10MB","timeToLive":"60s","responseCacheType":"LocalCachePerInstance"}},"type":"Microsoft.AppPlatform/Spring/gateways","sku":{"name":"E0","tier":"Enterprise","capacity":1},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/jiec-rg/providers/Microsoft.AppPlatform/Spring/jiec-e-eastasia/gateways/default","name":"default","systemData":{"createdBy":"jiec@microsoft.com","createdByType":"User","createdAt":"2023-10-15T05:27:16.5269715Z","lastModifiedBy":"jiec@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2023-11-22T02:44:19.2517752Z"}}'
    headers:
      content-type:
      - application/json
      x-rp-server-mvid:
      - e3c96ca4-dc3f-4110-966d-484af991bfbd
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://jiec-e-eastasia.asc-test.net/api/logstream/managedComponents/springCloudGatewayOperator/instances/scg-operator-6d8895c44b-wcngh?tailLines=50&limitBytes=2097152
  response:
    body:
      string: "2023-11-22T02:46:17.057Z ERROR 1 --- [PodController-1] c.v.t.s.r.ActuatorRoutesUpdater
        \         : Error deleting Route with ID: scg-system-cart-service-3\n\ncom.vmware.tanzu.springcloudgateway.routeconfig.PodUpdateExceptio[...]
