interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/jiec-rg-target/providers/Microsoft.AppPlatform/Spring/jiec-e-df-eus-acs-gen1?api-version=latest
  response:
    body:
      string: '{"properties":{"provisioningState":"Succeeded","zoneRedundant":false,"version":3,"serviceId":"751a4c4635944ded89a6da269f817c1b","networkProfile":{"outboundIPs":{"publicIPs":["20.185.106.85","20.185.106.95"]},"outboundType":"loadBalancer"},"powerState":"Running","fqdn":"jiec-e-df-eus-acs-gen1.asc-test.net","marketplaceResource":{"plan":"asa-ent-hr-mtr","publisher":"vmware-inc","product":"azure-spring-cloud-vmware-tanzu-2"}},"type":"Microsoft.AppPlatform/Spring","sku":{"name":"E0","tier":"Enterprise"},"location":"eastus","tags":{},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/jiec-rg-target/providers/Microsoft.AppPlatform/Spring/jiec-e-df-eus-acs-gen1","name":"jiec-e-df-eus-acs-gen1","systemData":{"createdBy":"jiec@microsoft.com","createdByType":"User","createdAt":"2024-01-12T08:48:23.9786643Z","lastModifiedBy":"jiec@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-01-12T08:48:23.9786643Z"}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
      x-rp-server-mvid:
      - afaee59f-f19a-4736-b9c4-6dba39c9d839
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/jiec-rg-target/providers/Microsoft.AppPlatform/Spring/jiec-e-df-eus-acs-gen1/jobs/mason-job-cli-record-test-2?api-version=latest
  response:
    body:
      string: '{"error":{"code":"NotFound","message":"Job not found.","target":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/jiec-rg-target/providers/Microsoft.AppPlatform/Spring/jiec-e-df-eus-acs-gen1/jobs/mason-job-cli-record-test-2","details":null}}'
    headers:
      content-type:
      - application/json
      x-rp-server-mvid:
      - afaee59f-f19a-4736-b9c4-6dba39c9d839
    status:
      code: 404
      message: Not Found
- request:
    body: '{"properties": {"source": {"type": "BuildResult", "buildResultId": "<default>"},
      "triggerConfig": {"triggerType": "Manual"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/jiec-rg-target/providers/Microsoft.AppPlatform/Spring/jiec-e-df-eus-acs-gen1/jobs/mason-job-cli-record-test-2?api-version=latest
  response:
    body:
      string: '{"properties":{"provisioningState":"Succeeded","triggerConfig":{"triggerType":"Manual"},"source":{"type":"BuildResult","buildResultId":"<default>"},"template":{"environmentVariables":[],"resourceRequests":{}}},"type":"Microsoft.AppPlatform/Spring/jobs","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/jiec-rg-target/providers/Microsoft.AppPlatform/Spring/jiec-e-df-eus-acs-gen1/jobs/mason-job-cli-record-test-2","name":"mason-job-cli-record-test-2","systemData":{"createdBy":"jiec@microsoft.com","createdByType":"User","createdAt":"2024-04-12T04:40:31.8516026Z","lastModifiedBy":"jiec@microsoft.com","lastModifiedByType":"User","lastModifiedAt":"2024-04-12T04:40:31.8516026Z"}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
      x-rp-server-mvid:
      - afaee59f-f19a-4736-b9c4-6dba39c9d839
    status:
      code: 200
      message: OK
[...]
